<!-- Le permite a un usuario crear una cuenta en el sistema. -->
<div class="page-header">
    <h3>Register</h3>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form novalidate autocomplete="off" ng-model="registerForm" name="registerForm" ng-submit="registerUser()">
            <div class="form-group">
                <label for="fullName">Name</label>
                <div class="alert alert-danger" ng-show="submitted && registerForm.fullName.$error.required">
                    <span>This field is required</span>
                </div>
                <input type="text" placeholder="Juan Pérez" id="fullName" ng-model="fullName" name="fullName" class="form-control" required />
            </div>
            <div class="form-group" ng-class="{ 'has-error': registerForm.email.$touched && registerForm.email.$invalid }">
                <label for="email">Email</label>
                <div class="alert alert-danger" ng-show="submitted && registerForm.email.$error.pattern">
                    <span>Invalid email!</span>
                </div>
                <input type="email" placeholder="juanperez@gmail.com" id="email" ng-model="email" name="email" class="form-control" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="alert alert-danger" ng-show="submitted && registerForm.password.$error.pattern">
                    <span ng-show="!registerForm.password.$error.required && (registerForm.password.$error.minlength || registerForm.password.$error.maxlength) && registerForm.password.$dirty">Password should be at least 8 characters</span>
                </div>
               <input type="password" id="password" name="password" class="form-control" ng-model="formData.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/^([a-zA-Z0-9_-]){8,100}$/" required  />
            </div>
            <div class="form-group">
                <label for="password_c">Confirm Password</label>
                <div class="alert alert-danger" ng-show="submitted && registerForm.password_c.$error.noMatch">
                    <span ng-show="!registerForm.password_c.$error.required && registerForm.password_c.$error.noMatch && registerForm.password.$dirty">Passwords do not match.</span>
                </div>
                <input type="password" id="password_c" class="form-control"name="password_c" ng-model="formData.password_c" valid-password-c required  />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Register" ng-click="submitted=true">
            </div>
        </form>
    </div>

    </div>
        <div class="panel-footer">
            Already have an account? <a ng-href="#/login">Login</a>
        </div>
    </div>